@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap");
.fileira {
  font-size: 18px;
  line-height: 19px;
  font-family: "Rajdhani", sans-serif;
  text-justify: inter-word;
  align-items: stretch;
  display: flex;
  flex-direction: row;
}
.cardtit {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #005546;
}
.cardoej {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cardt {
  text-align: center;
  text-align: justify;
}
